<li>
  <div class="snake-card">
    <button (click)="onClick()">Delete</button>
    <div class="card-info">
      <img
        src="{{ snake.imgUrl }}"
        alt="picture of ${{ snake.name }} the cornsnake"
      />
      <div class="card-text">
        <p><span>Name:</span> {{ snake.name }}</p>
        <p><span>ID:</span> {{ snake.breederId }}</p>
        <p><span>Gender:</span> {{ snake.gender }}</p>
        <p *ngIf="lastMeal"><span>Last Meal:</span> {{ lastMeal }}</p>
        <p *ngIf="mealFrequency">
          <span>Meal Frequency:</span> {{ mealFrequency }}
        </p>
        <p *ngIf="mealSize"><span>Meal Size:</span> {{ mealSize }}</p>
        <p *ngIf="lastNote"><span>Last Note:</span> {{ lastNote }}</p>
        <a routerLink="/snakes/{{ snake.id }}">More Info</a>
      </div>
    </div>
  </div>
</li>
