<div class="snake-page-container" *ngIf="snake">
  <div class="snake-page-header">
    <img src="{{ snake.imgUrl }}" alt="snake icon" />
    <div>
      <p><span>Name:</span> {{ snake.name }}</p>
      <p><span>ID:</span> {{ snake.breederId }}</p>
      <p><span>Gender:</span> {{ snake.gender }}</p>
      <p *ngIf="lastMeal"><span>Last Meal:</span>{{ lastMeal }}</p>
      <p *ngIf="mealFrequency">
        <span>Meal Frequency:</span> {{ mealFrequency }}
      </p>
      <p><span>Meal Size:</span> {{ mealSize }}</p>
      <p *ngIf="lastWeight">
        <span>Current Weight:</span> {{ lastWeight }} grams
      </p>
    </div>
  </div>
</div>
<div *ngIf="!editRecords" class="table-container">
  <div>
    <h2>Feeding History</h2>
    <table class="content-table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Food-Item</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let feeding of feedings">
          <td>{{ feeding.date }}</td>
          <td>{{ feeding.item }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <h2>Shed History</h2>
    <table class="content-table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Observation</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let shed of sheds">
          <td>{{ shed.date }}</td>
          <td>{{ shed.observation }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <h2>Weight History</h2>
    <table class="content-table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Weight</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let weight of weights">
          <td>{{ weight.date }}</td>
          <td>{{ weight.weight }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <h2>Notes</h2>
    <table class="content-table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Note</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let note of notes">
          <td>{{ note.date }}</td>
          <td>{{ note.note }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div *ngIf="editRecords" class="table-container">
  <div>
    <h2>Feeding History</h2>
    <table class="content-table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Food-Item</th>
          <th>Update</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let feeding of feedings">
          <td><input type="text" [(ngModel)]="feeding.date" /></td>
          <td><input type="text" [(ngModel)]="feeding.item" /></td>
          <td>
            <button (click)="updateRecord('feeding', feeding)">Update</button>
          </td>
          <td>
            <button (click)="deleteRecord('feeding', feeding.id!)">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <h2>Shed History</h2>
    <table class="content-table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Observation</th>
          <th>Update</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let shed of sheds">
          <td><input type="text" [(ngModel)]="shed.date" /></td>
          <td><input type="text" [(ngModel)]="shed.observation" /></td>
          <td><button (click)="updateRecord('shed', shed)">Update</button></td>
          <td>
            <button (click)="deleteRecord('shed', shed.id!)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <h2>Weight History</h2>
    <table class="content-table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Weight</th>
          <th>Update</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let weight of weights">
          <td><input type="text" [(ngModel)]="weight.date" /></td>
          <td><input type="text" [(ngModel)]="weight.weight" /></td>
          <td>
            <button (click)="updateRecord('weight', weight)">Update</button>
          </td>
          <td>
            <button (click)="deleteRecord('weight', weight.id!)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <h2>Notes</h2>
    <table class="content-table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Note</th>
          <th>Update</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let note of notes">
          <td><input type="text" [(ngModel)]="note.date" /></td>
          <td><input type="text" [(ngModel)]="note.note" /></td>
          <td><button (click)="updateRecord('note', note)">Update</button></td>
          <td>
            <button (click)="deleteRecord('note', note.id!)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<button
  class="edit-toggle"
  [disabled]="toggleEditRecordDisabled"
  (click)="toggleEditRecords()"
>
  {{ editRecords ? "Done" : "Edit Records" }}
</button>
